@using ButlyaAdmin.Models.Data.DBRepos

<table class="data-table active" id="Distributings">
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Клієнт</th>
        <th>Адреса</th>
        <th>К-сть</th>
        <th>К-сть повернено</th>
        <th>Сума</th>
        <th>Тиждень</th>
    </tr>
    </thead>
    <tbody>
    @using (var db = new DistributingsRepository())
    {
        var distributings = db.GetList().ToList();
        foreach (var item in distributings)
        {
            <tr onclick="selectRow(this)">
                <td class="id-column">@item.Id</td>
                <td class="date-column">@item.Date</td>
                <td class="client-column">@item.Client</td>
                <td class="adress-column">@item.Adress</td>
                <td class="count-column">@item.Count</td>
                <td class="returnCount-column">@item.ReturnCount</td>
                <td class="sum-column">@item.Sum</td>
                <td class="weekNumber-column">@item.weekNumber</td>
            </tr>
        }
    }
    </tbody>
</table>